/source/OMICH/OMICH/obj
/source/OMICH/OMICH/bin
/source/OMICH/OMICHContent/bin
/source/OMICH/OMICHContent/obj
/source/OMICH/OMICH/*.cachefile
*.suo
/projects/OMICH/OMICH/bin
/projects/OMICH/OMICH/obj
/projects/OMICH/OMICHContent/bin
/projects/OMICH/OMICHContent/obj
*.user
*.cachefile
/projects/OMICH/OMICH/*.sap
/projects/OMICH/GameBase/bin
/projects/OMICH/GameBase/obj
Bin
obj
/projects/OMICH/GameOMICH/bin
bin
/projects/OMICH/UpgradeLog.htm
